In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import glob

In [ ]:
path = 'data/*.csv'

frames = []
for fname in glob.glob(path):
    frame = pd.read_csv(fname)
    frames.append(frame)

bframe = pd.concat(frames)

/var/folders/4l/122hzjgj6dj2ghrnj8z81_mm0000gn/T/ipykernel_38568/762385936.py:5: DtypeWarning: Columns (1,10,12,13,38,39,40,41,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  frame = pd.read_csv(fname)

In [ ]:
bframe.head()

,as_of_year,respondent_id,agency_name,agency_abbr,agency_code,loan_type_name,loan_type,property_type_name,property_type,loan_purpose_name,...,edit_status,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,application_date_indicator,year
0,2012,0000177957,Federal Reserve System,FRS,2,FHA-insured,2,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,12912,NaN,NaN,NaN,NaN,NaN,NaN,0,hmda
1,2012,0000000013,National Credit Union Administration,NCUA,5,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,33,NaN,NaN,NaN,NaN,NaN,NaN,0,hmda
2,2012,0000012616,Federal Deposit Insurance Corporation,FDIC,3,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home purchase,...,6.0,31,NaN,NaN,NaN,NaN,NaN,NaN,0,hmda
3,2012,0000066158,National Credit Union Administration,NCUA,5,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,674,NaN,NaN,NaN,NaN,NaN,NaN,0,hmda
4,2012,0000177957,Federal Reserve System,FRS,2,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,14156,NaN,NaN,NaN,NaN,NaN,NaN,0,hmda